
html{
	font-family: 'Montserrat', sans-serif;
}
 body {
 	margin: 0;
 	background-color: grey;
 }

 header{
 	background-color: #364552;
 	color:white;
 	padding: 20px
 }
 header h1{
 	text-align: center;
 	font-size: 70px
 	
 }
 	
 div h2{
 	text-align: center;
 	font-size: 30px;
 }
.introduccion{
	padding: 10px;
	
	text-align: center;
	color: black




}
.videouno{
	
	margin: 1rem 0;
	border-radius: 0.5px;
}

.masdemi{
	text-align: center;
{

